[Unit]
Description=Tinexus Desktop Session
Documentation=https://github.com/itzabhishekgour/TinexusShell
# Pulled in after graphical.target is reached on the system bus.
# On a systemd --user instance, this is After=basic.target.
After=graphical.target
Wants=graphical.target tinexus-splash.service tinexus-hardware-env.service seatd.service tinexus-comp.service tinexus-serviced.service
Requires=graphical.target tinexus-comp.service tinexus-serviced.service

[Install]
WantedBy=graphical.target default.target
